@model List<UserViewModel>

<div class="row">
@await Html.PartialAsync("AdminLeftMenu")

           <div class="col-9">
			   <div class="row">
               <h3>Список Пользователей</h3>
			   </div>

	<div class="row">
		<table class="table">
				<thead>
					<tr>
						<th>№</th>
						<th>Логин</th>
						<th>Номер телефона</th>
						</tr>
				</thead>
				<tbode>
					@for (int i = 0; i < Model.Count; i++)
					{
						<tr>
							<td>@(i+1)</td>
							<td>@Model[i].Name</td>
							<td>@Model[i].Phone</td>
							<td>
								<a class="btn btn-dark" asp-area="Admin"
								asp-controller="User"
								asp-action="Detail"
								asp-route-name="@Model[i].Name">Подробнее</a></td>							
						</tr>
					}
				</tbode>
			</table>
	</div>
</div>
</div>