@model ChangePassword

<form method="post">
	<div class="container">
<div>
        <h3>Смена пароля</h3>
	</div>

		<div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

		@*<input type="hidden" name="name" value="@Model.UserName">*@

		<div class="input-group mb-3">
			<span class="input-group-text" style="width: 270px">@Model.UserName</span>
			<input type="hidden" class="form-control" asp-for="UserName" />
			<span asp-validation-for="UserName" />
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text" style="width: 270px">Введите новый пароль</span>
			<input class="form-control" asp-for="Password"/>
			<span asp-validation-for="Password" />
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text" style="width: 270px">Повторите пароль</span>
			<input class="form-control" 
			asp-for="ConfirmPassword"/>
			<span asp-validation-for="ConfirmPassword" />
		</div>
</div>

	<button class="btn btn-dark" type="submit" asp-area="Admin" asp-controller="User" asp-action="ChangePassword">Сменить</button>
</form>
