@model UserViewModel
    <h3>Личный кабинет</h3>

  <div style="padding:5px">

        <div class="input-group mb-3">
            <span class="input-group-text" style="width: 270px">Ваш email: </span>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" />
        </div>

        <div>
            <a class="btn btn btn-toolbar" href="#">Сменить логин</a>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" style="width: 270px">Ваш номер телефона: </span>
            <input class="form-control" asp-for="Phone" />
            <span asp-validation-for="Phone" />
        </div>

        <div>
            <a class="btn btn-toolbar" href="#">Сменить номер</a>
        </div>

    <div>
        <a class="btn btn-toolbar" asp-area="Admin" asp-controller="User" asp-action="ChangePassword" asp-route-name="@Model.Name">Сменить пароль</a>
    </div>
  </div>