<p>Спасибо за Ваш интерес!
<p> ООО "КН МЕДИКА" 26 лет на рынке</p>
<p>
    ИНН    7726218120
    КПП    772601001
    ОГРН   1027739425515
</p>
<p>Юридический адрес: 117208, Г.Москва, вн.тер.г. Муниципальный Округ Чертаново Северное, ул Чертановская, д. 2, к. 1</p>
<p itemprop="telephone">Телефон: +7 (495) 276-11-46
<p>
    Время работы:
    <time itemprop="openingHours" datetime="Mo-Th 8:00-17:00">пн-чт 08:00-17:00, перерыв 12:00-12:48</time>
    <time itemprop="openingHours" datetime="Fr 8:00-16:00">пт 08:00-16:00, перерыв 12:00-12:48</time>
    
    <div>
<script type="text/javascript" charset="utf-8" 
async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad52afb6d6d1b992b483ecca3fd1c80e48f7fa5e4cd88584c41839621b1f6aa1b&amp;
width=1055&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
