@model List<Product>

<div class="row">
@await Html.PartialAsync("AdminLeftMenu")

           <div class="col-9">
			   <div class="row">
               <h3>Список продуктов</h3>
			   </div>

			   <a href="/admin/AddProduct">Добавить новый продукт</a>
	<div class="row">
		<table class="table">
				<thead>
					<tr>
						<th>Название</th>
						<th>Цена руб</th>
						<th></th>
						<th></th>
						</tr>
				</thead>
				<tbode>
					@foreach (var product in Model)
					{
						<tr>
							<td>@product.Name</td>
							<td>@product.Cost</td>
							<td>
								<a class="btn btn-dark" href="/admin/editProduct?productId=@product.Id">Редактировать</a></td>
								<td><a class="btn btn-dark" href="/admin/removeProduct?productId=@product.Id" role="button">Удалить</a></td>
							
						</tr>
					}
				</tbode>
			</table>
		</table>
	</div>
</div>
