<div class="video-bg">     
   <video src="~/images/moniks1.mp4" type="moniks1/mp4" autoplay muted loop></video>
   <div class="effects"></div>                
   <div class="video-bg__content">

<img src="https://www.balkon-61.ru/wp-content/uploads/2020/12/thanks.png" alt="<Корзина пустая>"></div>
</div>