@model UserDeliveryInfoViewModel
<form method="post">
	<div class="container">
		xmlns="http://www.w3.org/1999/xhtml"
<div class="row text-center">
	<div class="col">

		<div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

			<div>
		<label asp-for="Name">Введите ФИО</label><br />
		<input class="form-control" asp-for="Name" />
		<span asp-validation-for="Name" />
		</div>

			<div>
		<label asp-for="Address">Введите адрес доставки</label><br />
		<input class="form-control" asp-for="Address" />
		<span asp-validation-for="Address" />
		</div>

			<div>
		<label asp-for="Phone">Введите телефон</label><br />
		<input class="form-control" asp-for="Phone" />
		<span asp-validation-for="Phone" />
		</div>

		<br>
		<button type="submit" class="btn btn-success" asp-controller="Order" asp-action="Buy">Оформить заказ</button>
	</div>
</div></div>
</form>


<head>
	<title>Quick start. Placing an interactive map on a page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="https://api-maps.yandex.ru/2.1/?apikey=Your API key&lang=en_US" type="text/javascript">
	</script>
	<script type="text/javascript">
		ymaps.ready(init);
		function init() {
			var myMap = new ymaps.Map("map", {
				center: [55.76, 37.64],
				zoom: 7
			});
		}
	</script>
</head>

<body>
	<div id="map" style="width: 600px; height: 400px"></div>
</body>