@model List<MonitorsProduct>
<style>
    table{
        border:4px solid black
    }
    td{
        border:4px solid black
    }
</style>
       
<table><tr>
    <td align="center"><h3>Каталог</h3></td>
    <tr>
    <td>1</td>
    <tr>
    <td width="32%">2</td>
    <tr>
    <td>3</td>
    <tr>
    <td>&shy;</td>
    <td rowspan="3" align="right">
        <div class="container">
<div class="row">
@foreach (var product in Model)
{
        <div class="col-3 card shadow">
            <a href="/product/index/@product.Id"> <img class="card-img-top" src=@product.ImagePath></a>
           <div class="card-body">
               <a style="color:black" href="/product/index/@product.Id"> 
                   <h5>@product.Name</h5>
                   </a>
               <h5>@product.Cost руб</h5>
               <a class="btn btn-dark" href="/cart/addmonitor?productId=@product.Id" role="button">Добавить в корзину</a>
           </div>
        </div>
}    			
</div>

</div>
</table>