@model EditProductViewModel

<form method="post" enctype="multipart/form-data">
	<div class="container">
<div>
        <h3>Изменение продукта</h3>
	</div>

		<div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

		<input type="hidden" name="Id" value="@Model?.Id">

		<div class="input-group mb-3">
			<span class="input-group-text" style="width: 270px">Введите название</span>
			<input class="form-control" asp-for="Name" />
			<span asp-validation-for="Name" />
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text" style="width: 270px">Введите цену</span>
			<input type="number" class="form-control" asp-for="Cost" />
			<span asp-validation-for="Cost" />
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text" style="width: 270px">Введите диагональ</span>
			<input class="form-control" asp-for="Diagonal" />
			<span asp-validation-for="Diagonal" />
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text" style="width: 270px">Введите разрешение экрана</span>
			<input class="form-control" asp-for="ScreenResolution" />
			<span asp-validation-for="ScreenResolution" />
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text" style="width: 270px">Введите тип матрицы</span>
			<input class="form-control" asp-for="Matrix" />
			<span asp-validation-for="Matrix" />
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text" style="width: 270px">Введите время отклика</span>
			<input class="form-control" asp-for="Response" />
			<span asp-validation-for="Response" />
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text" style="width: 270px">Введите Гц</span>
			<input class="form-control" asp-for="Hz" />
			<span asp-validation-for="Hz" />
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text" style="width: 270px">Введите цвет</span>
			<input class="form-control" asp-for="Color" />
			<span asp-validation-for="Color" />
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text" style="width: 270px">Введите название компании</span>
			<input class="form-control" asp-for="Company" />
			<span asp-validation-for="Company" />
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text" style="width: 270px">Введите описание</span>
			<input class="form-control" asp-for="Description" value="@Model?.Description" />
			<span asp-validation-for="Description" />
		</div>
	</div>

				<div class="row">
					<div class="col-6">
						<input type="hidden" asp-for="@Model.ImagePath" value="@Model.ImagePath">
						<label asp-for="ImagePath">Изображения</label>
						@foreach (var imagePath in Model.ImagePath)
						{
							<div style="padding:4px">
								<img src="@imagePath" width="150" height="150">
							</div>
						}
					</div>
				</div>
		<div class="form-group">
			<label>Загрузите новые изображения</label>
					<input type="file" name="UploadedFiles" multiple accept="image/*" class="form-control" />
				</div>

<div>
	<button class="btn btn-dark" type="submit" asp-area="Admin" asp-controller="Product" asp-action="Edit">Изменить</button>
</div></div></div></div>
</form>
