@model List<Product>

<div class="row">
@await Html.PartialAsync("AdminLeftMenu")

           <div class="col-9">
			   <div class="row">
               <h3>Список продуктов</h3>
			   </div>

			   <a asp-area="Admin"
				 asp-controller="Product"
				 asp-action="Add">Добавить новый продукт</a>

	<div class="row">
		<table class="table">
				<thead>
					<tr>
						<th>Название</th>
						<th>Цена руб</th>
						<th></th>
						<th></th>
						</tr>
				</thead>
				<tbode>
					@foreach (var product in Model)
					{
						<tr>
							<td>@product.Name</td>
							<td>@product.Cost</td>
							<td>
								<a class="btn btn-dark" asp-area="Admin"
								 asp-controller="Product"
								 asp-action="Edit"
								 asp-route-productId="@product.Id" role="button">Редактировать</a></td>

								<td><a class="btn btn-dark" asp-area="Admin"
								 asp-controller="Product"
								 asp-action="Remove"
								 asp-route-productId="@product.Id" role="button">Удалить</a></td>
						</tr>
					}
				</tbode>
			</table>
	</div>
</div>
</div>
